.footer {
    justify-content: center;
    background-color: var(--violet100);
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
    width: 100%;
    height: 175px;
    
}

/* .footer-logo {
    color: #49494a;
    font: 400 36px Kavoon, sans-serif;
}

.footer-content {
    display: flex;
    margin-top: 10px;
    width: 100%;
    align-items: flex-end;
    gap: 35px 100px;
    font-family: Pretendard, sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    color: #838586;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 470px;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: #49494a;
    font-weight: 700;
    text-align: center;
}

.footer-links > a{
    text-decoration: none;
    color: #838586;
}

.footer-link {
    align-self: stretch;
    margin: auto 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} */
