@charset "UTF-8";

.FooterContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 30px 35px;
  background: var(--violet100);
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  @media (max-width: 768px) {
    font-size: 10px;
    flex-direction: column;
  }
}

.FooterText {
  font-size: 14px;
  color: var(--black500);
  line-height: 150%;
  @media (max-width: 768px) {
    font-size: 130%;
  }
}

.FooterLinks {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--black700);
}

.LogoS {
    font-family: "Kavoon";
    font-size: 24px;
    color: var(--black700);

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.FooterButton {
  border: none;
  font-weight: 700;

  margin-right: 20px; /* 모든 버튼의 오른쪽에 간격 설정 */
  &:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
  }
  
  /* Hover effect */
  &:hover {
    background-color: transparent;
  }

  /* Active (마우스 클릭 또는 모바일 터치) effect */
  &:active {
	background-color: transparent;
  }

  @media (max-width: 768px) {
    font-size: 80%;
  }
}