/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

@media (max-width: 991px) {
    .form-container {
        max-width: 100%;
    }
}

/* Form group */
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

@media (max-width: 991px) {
    .form-group {
        max-width: 100%;
    }
}

/* Form label */
.form-label {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #49494a;
    width: 110px;
    min-height: 40px;
    margin: auto 0;
}

@media (max-width: 991px) {
    .form-label {
        white-space: initial;
    }
}

/* Form input */
.form-input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid #b3a8ff;
    background: #faf9ff;
    min-width: 240px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #666869;
    line-height: 1.4;
    flex: 1;
    gap: 10px;
    margin: auto 0;
    padding: 10px 10px;
    box-sizing: border-box;
}

@media (max-width: 991px) {
    .form-input {
        max-width: 100%;
    }
}

/* Form textarea */
.form-textarea {
    min-height: 200px;
}

/* File input wrapper */
.file-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
    color: #49494a;
}

/* File input button */
.file-input-btn {
    align-self: stretch;
    background-color: #d9d9d9;
    border-radius: 5px;
    min-height: 30px;
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin: auto 0;
    padding: 10px 15px;
}

/* File input text */
.file-input-text {
    align-self: stretch;
    gap: 40px 50px;
    margin: auto 0;
}

/* Form actions */
.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 991px) {
    .form-actions {
        max-width: 100%;
    }
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    height: 100%;
}
@media (max-width: 991px) {
    .button-container {
        white-space: initial;
    }
}
    

.edit-btn {
    background: var(--black000);
    border-radius: 3.76px;
    border: 0.75px solid var(--violet500);
    color: var(--black500);
    padding: 10px 30px;
}

.delete-btn {
    background: var(--violet600);
    border-radius: 3.76px;
    color: var(--violet000);
    padding: 10px 30px;
}

@media (max-width: 991px) {
    .edit-btn,
    .delete-btn {
        padding: 0 20px;
    }
}


/* Cancel button */
.cancel-btn {
    align-self: stretch;
    background: #fcfcfc;
    border-radius: 3.76px;
    border: 0.752px solid #9787ff;
    color: #838586;
    padding: 10px 30px;
}

/* Submit button */
.submit-btn {
    align-self: stretch;
    background: #8578d8;
    border-radius: 3.76px;
    color: #faf9ff;
    padding: 10px 30px;
}

@media (max-width: 991px) {
    .cancel-btn,
    .submit-btn {
        padding: 0 20px;
    }
}
input:disabled{
    border: 1.5px solid var(--violet400);
    background: var(--violet200);
    color: var(--black400);
}
textarea:disabled{
    border: 1.5px solid var(--violet400);
    background: var(--violet200);
    color: var(--black400);
}