.report-table { 
    width: 800px; 
    border-collapse: collapse; 
    font-size: 14px; 
    color: #666869; 
}
.report-table th, .report-table td { 
    padding: 17px 20px; 
    text-align: center; 
    border: 1px solid #e2e3e3; 
}
.report-table th { 
    background-color: #e2e3e3; 
    color: #49494a; 
}
.report-table td { 
    background-color: #fcfcfc; 
}
