.table {
    width: 100%;
    border-collapse: collapse;
    color: var(--black600);
    font-size: 14px;
}

.table th,
.table td {
    padding: 17px 20px;
    text-align: center;
    border: 1px solid var(--black200);
}

.table th {
    background-color: var(--black200);
    color: var(--black700);
    font-weight: bold;
}

.table td {
    background-color: var(--black000);
}

a.aLink {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a.aLink:hover {
    color: var(--violet500);
}