.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: var(--black600);
}

.table th,
.table td {
    padding: 17px 20px;
    text-align: center;
    border: 1px solid var(--black200);
}

.table th {
    background-color: var(--black200);
    color: var(--black700);
}

.table td {
    background-color: var(--black000);
}